.account-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
    border-radius: 0.75rem;
    margin: 0.75rem;
    background-color: #fff;
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
}

.account-card:hover {
    transform: scale(1.05);
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    aspect-ratio: 1;
    border: solid 0.1rem #000;
    border-radius: 50%;
}

.account-name {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0.5rem 0;
    color: #000;
}

.account-balance {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0.5rem 0;
    color: green;
}

.negative {
    color: red;
}

.account-balance::before {
    content: "€";
}

.fa-circle-xmark {
    position: absolute;
    color: black;
    font-size: 1.5rem;
    top: 0;
    right: 0;
    padding: 0.5rem .5rem 0 0;
}

.fa-circle-xmark:hover {
    color: red;
    transform: scale(1.1);
}