.monthly-details {
    text-align: center;
}

.tables {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5rem;
    padding: 0 2rem;
}

.tables table tr:hover {
    cursor: default;
    background-color: transparent;
    color: black;
}

caption {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: capitalize;
}