.menu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem;
    background-color: #222;
    color: whitesmoke;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.accounts {
    display: flex;
    flex-direction: column;
    margin-top: 0.4rem;
}

.accounts h3 {
    margin: 0.1rem 0;
}

a {
    color: whitesmoke;
    text-decoration: none;
}